body {
    background-color: #777;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    font-size: 18px;
}

header,nav,footer {
    background-color: #ebebeb;
    text-align: center;
    height: 120px;
    color: #777;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}

div {
    height: 240px;
    color: #777;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

section {
    background-color: #ebebeb;
    height: 100%;
    color: #777;
    text-align: center;
    width: 55%;
    float: left;
    margin-right: auto;
}

aside {
    background-color: #ebebeb;
    height: 100%;
    color: #777;
    text-align: center;
    width: 42%;
    float: right;
}